/* Tava tentando criar uma classe "bg" ali pra colocar a o gif no fundo
mas não consegui! tentem ai */

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #000000;
    background-image: url(../image/fundo.gif);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: sans-serif;
}
h2{
    color: #fff;
    font-size: 2em;
}
*{
    margin: 0;
    padding: 0;
}
table {
    margin-top: 20px;
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    border-spacing: 0px;
    border-color: grey;
}
*
#grade {
    height: 200px;
    width: 300px;
    margin: 10% auto;
}

#grade table td {
    width: 50px;
    height: 50px;
    background: url(../image/sion-worldbreaker.jpg);
    text-align: center;
    color: white;
    background-size: 300px 200px;
    transition: 0.25 ease-in-out;
}
#win {
    margin-top: 20px;
    width: 300px;
    height: 200px;
    background: url(../image/sion-worldbreaker.jpg);
    text-align: center;
    color: white;
    background-size: 300px 200px;
    transition: 1s;
}
#win:hover {
    z-index: 10;
    opacity: 0.7;
    transform: scale(1.1);
    cursor: pointer;
    box-shadow: 0px 0px 3px 3px black;
    transition: 1s;
}
#grade table td:hover {
    z-index: 10;
    opacity: 0.7;
    transform: scale(1.1);
    cursor: pointer;
    box-shadow: 0px 0px 3px 3px white;
}