@charset "UTF-8"; /*Mantem um padrão*/

*{
/* Vamos zerar esses valores para eliminar configurações proprias de cada navegadores */
    padding : 0;    
    margin : 0;
    border: 0;  
}

body
{    
    overflow:hidden;    
}

figure.imagem img{       
    width: 100%;
    height: 100%;    
}

.projetoMenu{

    width: 2000px; /*Definndo altura*/
    height: 1414px; /*Definndo largura*/
    border-radius: 20px; /*Deixa as bordas arredondadas*/    
}

#caixa{ /*Atribuindo caracteristicas visuais para as caixas (1-8)*/
    position: absolute;
    left: 40%; 
    margin: 50px auto; /*Margem de "50px" com relação ao topo e "auto" pra ficar centralizado */
    border: 100px; /* Adiciona bordas e efeito de profundidade (BAIXO relevo)*/
    background-color: #000000(66, 68, 64);
    box-shadow: 1px 1px 50px rgba(0,0,0,5); /*Vai adicinar efeito de sombra em relação aos eixos (x(2px), y(2px), dispersão(50px)) */
}

.peca{
    width: 100%;
    height: 100%;
    left: 50px;  
    border-radius: 50px; /*Deixa as bordas arredondadas*/    
}

.botao {
	box-shadow:inset 0px 1px 46px 22px #232525;
    background-color:transparent;
	border-radius:20px;
	border:3px solid #5f3c06;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:70px;
	font-weight:bold;
	padding:32px 106px;
	text-decoration:none;
    text-shadow:0px 6px 4px #0f1312;     
}

.botao:hover {
    background-color:transparent;   
    border: inset 1px rgb(68, 73, 68); /* Adiciona bordas e efeito de profundidade (BAIXO relevo)*/
    border-radius: 50px rgb(83, 128, 173);     
    box-shadow: 2px 2px 50px rgba(0,0,0,5); /*Vai adicinar efeito de sombra em relação aos eixos (x(2px), y(2px), dispersão(50px)) */

}
.botao:active {
    position:relative;	
    top:1px;
}



